trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    exclude:
      - .gitignore
      - README.md

pr: none

pool:
  vmImage: 'windows-2019'

variables:
  - name: 'solution'
    value: '**/*.sln'
  - name: 'buildPlatform'
    value: 'Any CPU'
  - name: 'buildConfiguration'
    value: 'Release'
  - group: 'NuGetPublishing'

name: 2.1$(Rev:.r)

steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '6.0.x'
      
  - task: NuGetToolInstaller@1

  - task: DotNetCoreCLI@2
    displayName: 'Restore from Nuget.org and EmmersionLearning feeds'
    inputs:
      command: 'restore'
      restoreSolution: '**/*.sln'
      feedsToUse: 'select'
      vstsFeed: '2ee1cde5-9787-4e91-b498-e30a43c5d914'

  - task: DotNetCoreCLI@2
    displayName: 'Test'
    inputs:
      command: 'test'
      packagesToPack: '**/*Tests.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'Pack'
    inputs:
      command: 'pack'
      packagesToPack: '**/Emmersion.Crypto.csproj'
      versioningScheme: 'byBuildNumber'

  - task: NuGetCommand@2
    displayName: 'Publish to internal feed'
    inputs:
      command: 'push'
      packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
      nuGetFeedType: 'internal'
      publishVstsFeed: '2ee1cde5-9787-4e91-b498-e30a43c5d914'

  - task: DotNetCoreCLI@2
    displayName: 'Publish to nuget.org'
    inputs:
      command: custom
      custom: nuget
      arguments: >
        push $(Build.ArtifactStagingDirectory)/**/*.nupkg
        -s https://api.nuget.org/v3/index.json
        -k $(NuGetPublishingApiKey)